
<mat-card>
  <mat-card-title>Registration:</mat-card-title>
<mat-card-content>

<form >
<p>
  <mat-form-field>
    <input type="text" matInput placeholder="Username"[formControl]="username" required>
  
  </mat-form-field>
    <mat-label *ngIf="korImeDuplikat" style="color: red;">'{{kIme}}' postoji u bazi</mat-label>
</p>

<p>
  <mat-form-field>
    <input type="email" matInput placeholder="Email" [formControl]="email" required>
  </mat-form-field>
</p>

<p>
  <mat-form-field>
    <input type="password" matInput placeholder="Password" [formControl]="password1" required>
  </mat-form-field>
  <mat-label *ngIf="duzina" style="color: red;">Najmanje 8 karaktera</mat-label>
</p>

<p>
  <mat-form-field>
    <input type="password" matInput placeholder="Confirm Password" [formControl]="password2" required>
  </mat-form-field>
  <mat-label *ngIf="netacnaSifra" style="color: red;">Ne poklapaju se sifre</mat-label>
</p>

<p>
  <mat-form-field>
    <input type="text" matInput placeholder="First name" [formControl]="firstname" required>
  </mat-form-field>
</p>

<p>
  <mat-form-field>
    <input type="text" matInput placeholder="Last name" [formControl]="lastname" required>
  </mat-form-field>
</p>

<p>
  <mat-form-field>
    <input type="date" matInput placeholder="Birth" [formControl]="birth" required>
  </mat-form-field>
</p>

<p>
  <mat-form-field>
    <input type="text" matInput placeholder="Address" [formControl]="address" required>
  </mat-form-field>
</p>

<p>
<!--mat-select [formControl]="tip" placeholder="Type" required>
    <mat-option *ngFor="let option of listaTipova" [value]="option">{{option}}</mat-option>
</mat-select-->
<mat-form-field appearance="fill">
  <mat-label>Select Role</mat-label>
  <mat-select [formControl]="tip" [(ngModel)]="selectedRole">
      <mat-option value="Dispatcher">Dispatcher</mat-option>
      <mat-option value="Crew Member">Crew Member</mat-option>
      <mat-option value="Worker">Worker</mat-option>
  </mat-select>
  </mat-form-field>
  </p>

  <p>
    <div *ngIf="selectedRole=='Crew Member'">
      <mat-form-field appearance="fill">
      <mat-label>Select Crew</mat-label>
      <mat-select [(ngModel)]="selectedCrew">
          <mat-option *ngFor="let item of crews" [value]="item.id">
          {{item.name}}
          </mat-option>
      </mat-select>
      </mat-form-field>
    </div>
  
<div class="button">
  <button type="submit" mat-raised-button color="primary" (click)="register()" >Register</button>
</div>
</form>

</mat-card-content>

</mat-card>

