<div>

  <mat-form-field appearance="fill">
      <mat-label>Cause</mat-label>
      <mat-select>
        <mat-option value="1">time</mat-option>
        <mat-option value="2">human factor</mat-option>
        <mat-option value="3">failure</mat-option>
        
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Subcause</mat-label>
      <mat-select>
        <mat-option value="1">Grmljavina</mat-option>
        <mat-option value="2">Uragan</mat-option>
        <mat-option value="3">Vjetar</mat-option>
        <mat-option value="4">Grad</mat-option>
        <mat-option value="5">Snjeg</mat-option>
      </mat-select>
    </mat-form-field>
  
  
    <mat-form-field appearance="fill">
      <mat-label>Construction type</mat-label>
      <mat-select>
        <mat-option value="1">Nadzemni</mat-option>
        <mat-option value="2">Podzemni</mat-option>
        <mat-option value="3">None</mat-option>
        
      </mat-select>
    </mat-form-field>
  
  
    <mat-form-field appearance="fill">
      <mat-label>Material</mat-label>
      <mat-select>
        <mat-option value="1">Plastika</mat-option>
        <mat-option value="2">Metal</mat-option>
        <mat-option value="3">Bakar</mat-option>
        
      </mat-select>
    </mat-form-field>
  
  </div>  