<div>

  <tr>
    <td>
      <mat-form-field appearance="fill">
      <mat-label>Select cause</mat-label>
      <mat-select [(ngModel)]="izabraniUzrok" (selectionChange)="onCauseChange($event)">
        <mat-option *ngFor="let item of uzroci" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </td>
  
    <td>
      <mat-form-field appearance="fill">
        <mat-label>Select subcause</mat-label>
        <mat-select [(ngModel)]="izabraniPoduzrok">
          <mat-option *ngFor="let item of poduzroci" [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
    </td>


    <td>
      <mat-form-field appearance="fill">
        <mat-label>Select construction type</mat-label>
        <mat-select [(ngModel)]="izabranaKonstrukcija">
          <mat-option value="Underground">Underground</mat-option>
          <mat-option value="Overground">Overground</mat-option>
        </mat-select>
      </mat-form-field>
    </td>


     <td>
      <mat-form-field appearance="fill">
        <mat-label>Select material</mat-label>
        <mat-select [(ngModel)]="izabraniMaterijal">
          <mat-option value="Metal">Metal</mat-option>
          <mat-option value="Plastic">Plastic</mat-option>
          <mat-option value="Wood">Wood</mat-option>
        </mat-select>
      </mat-form-field>
     </td>
  </tr>
    
  
  </div>  