.meni
{
    width: 250px;
    height: 350px;
    background-color: rgb(0, 0, 0);
    float:left;
    margin-top: 120px;
    margin-left:100px;
}
.meni a {
    padding: 25px 8px 8px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: block;
    text-align: center;
 
  }

  
.sadrzaj
{
    color:rgb(255, 255, 255);
    float:left;
    font-weight: bold;  
}
span
{
    color: white;
}
span:hover
{
    color:rgb(95, 93, 93)
}
.komp
{
    color:black;
    align-self: center;
}
.btn-regular {
    align-self:center;
    background: #f0efef;
    color: #0e0e0e;
    border: none;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    padding: 5px 20px;
    left:5%;
    margin-left: 80px;
    margin-top: 30px;
    
}

.btn-regular:hover {
    color: #313131;
    text-decoration: none;
    background: rgb(95, 93, 93);
}

