<mat-toolbar>
    
   <span>New incident</span>
  
 </mat-toolbar>

<!--mat-tab-group>
    <mat-tab label="Basic info" routerLink="dashboard/incidents/newincident/basicInfo"><app-basicinfo></app-basicinfo></mat-tab>
    <mat-tab label="Resolution"><app-resolution></app-resolution></mat-tab>
    <mat-tab label="Devices"> <app-devices></app-devices> </mat-tab>
    <mat-tab label="Calls">
      
       <app-calls></app-calls>
        
    </mat-tab>
    <mat-tab label="Crew"> <app-crew></app-crew></mat-tab>
    <mat-tab label="Multimedia attachments"> <app-multimedia></app-multimedia> </mat-tab>
    
    
  </mat-tab-group-->
  <nav mat-tab-nav-bar>
   <a mat-tab-link routerLink="/dashboard/incidents/newincident/basicInfo">Basic information</a>
   <a mat-tab-link routerLink="/dashboard/incidents/newincident/devices">Devices</a>
   <a mat-tab-link routerLink="/dashboard/incidents/newincident/resolution">Resolution</a>
   <a mat-tab-link routerLink="/dashboard/incidents/newincident/calls">Calls</a>
   <a mat-tab-link routerLink="/dashboard/incidents/newincident/crew">Crew</a>
 <button mat-raised-button (click)="onSubmit()" style="position: absolute; right: 5px; height: 40px; align-self: center;">Save</button>
 </nav>
 
 <router-outlet></router-outlet>
