mat-tab-group{
    height: 100%;
    width:100%;
    background-color: white;
}

mat-form-field{
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    
    flex-wrap: wrap;
}

.title{
    text-align: center;
}