<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto" style="margin-top: 4%;">
  <div class="card card0 border-0">
      <div class="row d-flex">
          <div class="col-lg-6">
              <div class="card1 pb-5">
                  <!--div class="row"> <img src="https://i.imgur.com/CXQmsmF.png" class="logo"> </div-->
                  <div class="row px-3 justify-content-center mt-4 mb-5 border-line" style="opacity: 0.65; "> 
                    <img src="../../assets/pozadina.png" class="image"> 
                </div>
                  
                  <button type="button" class="btn btn-light" style="border: 1px solid black; margin-left: 15px;"><i>Report outage</i></button>
              </div>
          </div>

          <div class="col-lg-6">
              <div class="card2 card border-0 px-4 py-5">
                  <div class="row mb-4 px-3">
                      <h6 class="mb-0 mr-4 mt-2" style="font-size: 12px;">Sign in with</h6>
                      <div class="facebook text-center mr-3">
                          <div class="fa fa-facebook"></div>
                      </div>
                      <div class="twitter text-center mr-3">
                          <div class="fa fa-twitter"></div>
                      </div>
                      <div class="linkedin text-center mr-3">
                          <div class="fa fa-linkedin"></div>
                      </div>
                  </div>
                  <div class="row px-3 mb-4">
                      <div class="line"></div> <small class="or text-center">Or</small>
                      <div class="line"></div>
                  </div>
                  


                  <!-- --------------------------------------------------- -->
                  <form (ngSubmit)="f.form.valid && logIn(f)" #f="ngForm">
     <!-- --------------------------------------------------- -->


                  <div class="row px-3"> <label class="mb-1">
                          <h6 class="mb-0 text-sm">User name</h6>
                      </label> 
                      <!-- --------------------------------------------------- -->
                      <input type="text" id="korisnickoIme" name="korisnickoIme" ngModel placeholder="Enter username"
                      #korisnickoIme="ngModel" required>
                      <div *ngIf="f.submitted && korisnickoIme.invalid">
                          <div>Enter username</div>
                      </div> 
                   
                      <!-- --------------------------------------------------- -->
                  </div>

                  <div class="row px-3"> 
                          <label class="mb-1">
                              <h6 class="mb-0 text-sm">Password</h6>
                          </label> 
                          <!-- --------------------------------------------------- -->
                          <input type="password" id="sifra" name="sifra" ngModel #sifra="ngModel" placeholder="Enter password" required >
                          <div *ngIf="f.submitted && sifra.invalid">
                              <div>Enter password</div>
                          </div>
                          <div *ngIf="incorrectly" style="color: red;">
                              <label> Uncorrect email address and/or password!</label>
                          </div> 
                          <!-- --------------------------------------------------- -->
                  </div>

                  

                  <div class="row mb-3 px-3">
                      <!-- --------------------------------------------------- -->
                          <button [disabled]="!f.form.valid" type="submit" class="btn btn-blue text-center">Login</button>
                          <!-- --------------------------------------------------- -->
                  </div>
                  <div class="row mb-4 px-3">
                       <small class="font-weight-bold">Don't have an account? 
                           <a class="text-danger" routerLink="/registration">Register</a>
                          </small> 
                  </div>
              </form>
              </div>
          </div>
      </div>
  </div>
</div>
