<div class="container">
    <div class="card my_incident_card" routerLink='/dashboard/incidents'>
        <p class="my_incidents_p">
            My Incidents
        </p>
        <div class="card_content">
            <p>
                0 Drafts
            </p>
            <p>
                0 Canceled
            </p>
            <p>
                2 Executing
            </p>
            <p>
                1 Completed
            </p>
        </div>
    </div>
    <div class="card my_work_plans_card" routerLink='/dashboard/work-plans'>
        <p class="my_work_plans_p">
            My Work Plans
        </p>
        <div class="card_content">
            <p>
                0 Drafts
            </p>
            <p>
                0 Canceled
            </p>
            <p>
                2 Executing
            </p>
            <p>
                1 Completed
            </p>
        </div>
    </div>
    <div class="card my_safety_docs_card" routerLink='/dashboard/mysafetydocs'>
        <p class="my_safety_docs_p">
            My Safety Docs
        </p>
        <div class="card_content">
            <p>
                0 Drafts
            </p>
            <p>
                0 Canceled
            </p>
            <p>
                2 Executing
            </p>
            <p>
                1 Completed
            </p>
        </div>
    </div>
    <div class="card my_work_order_card">
        <p class="my_work_order_p">
            My Work Order
        </p>
        <div class="card_content">
            <p>
                0 Drafts
            </p>
            <p>
                0 Canceled
            </p>
            <p>
                2 Executing
            </p>
            <p>
                1 Completed
            </p>
        </div>
    </div>

   
</div>

<div>
    <canvas baseChart 
        [datasets]="lineChartData" 
        [labels]="lineChartLabels" 
        [options]="lineChartOptions"
        [colors]="lineChartColors" 
        [legend]="lineChartLegend" 
        [chartType]="lineChartType" 
        [plugins]="lineChartPlugins">
    </canvas>

    <canvas  baseChart 
    [data]="doughnutChartData"
    [labels]="doughnutChartLabels"
    [chartType]="doughnutChartType">
  </canvas>
</div>
